<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>冰冻小冰的个人博客</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="keywords" content="JAVA,C++,网络,编程,代码,博客,WEB,数据库" />
<meta name="description" content="BingLuo's Blog 我的个人技术博客，编程技术分享！" />
<meta name="robots" content="index, follow, archive" />
<meta name="googlebot" content="index, follow, archive" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
</head>

<body>

<!--header -->
#parse("common/header.vm")
<!--/header-->

<!-- content-outer -->
<div id="content-wrap" class="clear" >
    <!-- content -->
    <div id="content">
		<div id="navigation"><a href="/">首页</a> &raquo; <span>归档</span></div>
        <!-- main -->
	    <div id="main">
			<ul class="archive">
				#foreach($folder in $folderList)
				<li>
					<div class="post-title"><a href="/blog-folder/$!{folder.folderId}.html">$folder.folderName</a></div>
					<div class="post-details">创建于 <a href="#">$!{viewUtil.dateFormat($folder.addTime)}</a> | 共$!{folder.blogCount}篇文章
    				#if($blog.tags && $blog.tags!="")
						#set($tags = $viewUtil.resolveTags($blog.tags))
						#set($index = 1)
						#foreach($tag in $tags)
							<a href="/tag-blog/$!{tag}.html">$tag</a>#if($index<$tags.size()),#end
							#set($index = $index+1)
						#end
    				#end
					</div>
				</li>
				#end
			</ul>
		</div>
		<!-- /main -->
		#parse("common/siderBar.vm")
	</div>
    <!-- content -->
</div>
<!-- /content-out -->

<!-- footer-bottom -->
#parse("common/footer.vm")
<!-- /footer-bottom-->

</body>
</html>
