<div id="header-wrap">
	<div id="header">
    	<a name="top"></a>
    	<h1 id="logo-text"><a href="/" title="">BingLuo's Blog</a></h1>
    	<p id="slogan">Let's waiting for 2012/12/21... </p>
    	<div id="nav">
    		<ul>
    			<li #if($pageType == "index")id="current"#end><a href="/">首页</a></li>
				#if($currentUser)
    			<li #if($pageType == "center")id="current"#end><a href="/usercenter/$!{currentUser.userId}.html">我的空间</a></li>
				#end
    			<li #if($pageType == "blogs")id="current"#end><a href="/blogs.html">博文</a></li>
    			<li #if($pageType == "archives")id="current"#end><a href="/archives.html">归档</a></li>
    			<li #if($pageType == "tags")id="current"#end><a href="/tags.html">标签</a></li>
    			<li #if($pageType == "contact")id="current"#end><a href="/contact.html">关于</a></li>
    		</ul>
    	</div>
		<div id="welcomeTag">
			#if($currentUser)
			<a href="/usercenter/$!{currentUser.userId}.html">$!{currentUser.userName}</a>，您好！
			#else
			<a href="/logon.html">登录</a>
			#end
		</div>
    	<p id="rss">
    		<a href="#">RSS资讯</a>
    	</p>
    	<form id="quick-search" method="get" action="/index.html">
    		<fieldset class="search">
    			<label for="qsearch">Search:</label>
    			<input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="输入关键词" />
    			<button class="btn" title="Submit Search">Search</button>
    		</fieldset>
    	</form>
	</div>
</div>